

<div class="container HeroCont">
  <div class="row heroRow">
    <div class="col-9 hero-container">
      <h2 class="hero-heading">Handla din mat hos oss på Handlamat.se</h2>
    </div>
    <div class="col-3 logoCont">
      <img src="/Img/FullLogo_NoBuffer.jpg" alt="#" class="heroLogo" width="180px" height="60px"/>
    </div>
    
  </div>
</div>
@code {
    [Parameter]
    public string Name { get; set; }
}
