@* @page "/carousel"; *@
@using System.Linq;
@using static Shared.Services.Fetchdata;
@using static InvSystem.Shared.Services.FilterData;

<div class="container topHeadingCont">
    <div class="row">
        <div class="col-12 headingContainer">
            <h3 class="categoryHeading">@category.ToUpper()</h3>
        </div>
    </div>
</div>

<div class="container carousel justify-content-center">
  <div class="row">
        <div class="col-1 btn-containerLeft">
            <button class="slideBtnLeft" @onclick="PreviousSlide">&lt</button>
        </div>
    @foreach (var card in cards.Skip((currentSlide - 1) * 5).Take(5))
    {
        <div class="col-2 cardContainer">
        <CardComponent card=@card />
        </div>
    }
        
        <div class="col-1 btn-containerRight">
            <button class="slideBtnRight" @onclick="NextSlide">&gt</button>
        </div>  
    </div>
</div>

@code {
    [Parameter]
    public string category { get; set; }
 
    public List<Card> cards { get; set; } = new List<Card>();
    protected override async Task OnInitializedAsync()
    {
      var allCards = await GetApiInfo();
       cards = GetCategoriesCards(category, allCards); // Ändra allcards tiyll cards nar vi visar för francisco
    }
//
    private int currentSlide = 1;


    private void PreviousSlide()
    {
        if (currentSlide == 1)
        {
            currentSlide = cards.Count / 5;
        }
        else
        {
            currentSlide--;
        }
    }

    private void NextSlide()
    {
        if (currentSlide == cards.Count / 5)
        {
            currentSlide = 1;
        }
        else
        {
            currentSlide++;
        }
    }
}
