@page "/"

<HeroComponent />
<SearchComponent />
<div class="CarouselHolder">
    <div class="headingContainer">
        <h5 class="categoryHeading">insert category</h5>
    </div>
    <div class="row">
        <div class="col-1 btn-containerLeft">
            <button class="slideBtn">&lt</button>
        </div>
        <div class="col-10">
            <CarouselComponent category="Frukt"></CarouselComponent>
        </div>
        <div class="col-1 btn-containerRight">
            <button class="slideBtn">&gt</button>
        </div>
    </div>
</div>
<div class="CarouselHolder">
    <div class="headingContainer">
        <h5 class="categoryHeading">insert category</h5>
    </div>
    <div class="row">
        <div class="col-1 btn-containerLeft">
            <button class="slideBtn">&lt</button>
        </div>
        <div class="col-10">
            <CarouselComponent category="Grönsaker"></CarouselComponent>
        </div>
        <div class="col-1 btn-containerRight">
            <button class="slideBtn">&gt</button>
        </div>
    </div>
</div>
<div class="CarouselHolder">
    <div class="headingContainer">
        <h5 class="categoryHeading">insert category</h5>
    </div>
    <div class="row">
        <div class="col-1 btn-containerLeft">
            <button class="slideBtn">&lt</button>
        </div>
        <div class="col-10">
            <CarouselComponent category="Mejeri"></CarouselComponent>
        </div>
        <div class="col-1 btn-containerRight">
            <button class="slideBtn">&gt</button>
        </div>
    </div>
</div>
<div class="CarouselHolder">
    <div class="headingContainer">
        <h5 class="categoryHeading">insert category</h5>
    </div>
    <div class="row">
        <div class="col-1 btn-containerLeft">
            <button class="slideBtn">&lt</button>
        </div>
        <div class="col-10">
            <CarouselComponent category="Kött & Chark"></CarouselComponent>
        </div>
        <div class="col-1 btn-containerRight">
            <button class="slideBtn">&gt</button>
        </div>
    </div>
</div>
