.CarouselHolder {
    margin: 30px 0 30px 0;
}

.btn-containerLeft {
    display: flex;
    align-items: center;
    justify-content: end;
}

.btn-containerRight {
    display: flex;
    align-items: center;
    justify-content: start;
}

.slideBtn {
    font-size: 14px;
    font-weight: 800;
    color: white;
    border-radius: 35px;
    border: none;
    background-color: rgb(29, 150, 93);
}

.slideBtn:hover {
    background-color: rgb(43, 196, 125);
    color: #fff;
}

.headingContainer {
    margin-left: 100px;
}

.categoryHeading {
    font-size: 15px;
    font-weight: 800;
    color: rgb(147, 168, 158);
    margin: 0 0 20px 0;
}