@using static InvSystem.Shared.Services.Fetchdata;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage ProtectedSessionStore
@inject ProtectedLocalStorage  BrowserStorage
@using static InvSystem.Data.Cart;
@page "/"


<HeroComponent />
@if(cards is not null)
{
<CarouselComponent category="Frukt" ></CarouselComponent>
<CarouselComponent category="Grönsaker" ></CarouselComponent>
<CarouselComponent category="Kött & Chark" ></CarouselComponent>
<CarouselComponent category="Mejeri" ></CarouselComponent>
}
else
{
    <div>Det finns inga varor i denna kategori</div>
}


@code {

    private List<Card> cards { get; set; } 
    private Cart shoppingCart = new Cart();
    protected override async Task OnInitializedAsync()
    {
        cards = await GetApiInfo();
    }

}
