@using System.Linq;
@using static Shared.Services.Fetchdata;
@using static Data.Cart;
@using Newtonsoft.Json;


@if(_cart.GetProducts().Count != 0 )
{
  <div>
    <h3>Antal Produkter i kassan: @_cart.GetProducts().Count</h3>
  </div>
}
else
{
    <div>Det finns inga varor i kundvagnen</div>
    <div>
      <h3>@_cart.GetProducts().Count</h3>
    </div>
}




@code {


    public Cart _cart = new Cart();

    /* private void SaveCartToLocalStorage(Cart cart)
    {
        string json = JsonConvert.SerializeObject(cart);
        SaveCartToLocalStorage.SetItem("Cart", json);
    }*/
}
