@using System.Linq;
@using static Shared.Services.Fetchdata;
@using static Data.Cart;
@using Newtonsoft.Json;



<div>GetProducts()</div>





@code {


    public Cart _cart = new Cart();


    /* private void SaveCartToLocalStorage(Cart cart)
    {
        string json = JsonConvert.SerializeObject(cart);
        SaveCartToLocalStorage.SetItem("Cart", json);
    }*/
}