@using System.Linq;
@using static Shared.Services.Fetchdata;
@using static Data.Cart;
@using Newtonsoft.Json;

<div>
  <input type="text" placeholeder="Förbannad" @bind="textSearch" />
@if(Cart.GetProducts().Count != 0 )
{
    @foreach(var shoppingCartItem in productsList)
    {
        <div>@shoppingCartItem.Title</div>
    }
}
else
{
    <div>Det finns inga varor i kundvagnen</div>
    <div>
      <h3>@Cart.GetProducts().Count</h3>
    </div>
}
</div>



@code {
  private String textSearch{ get; set; }
    private List<Card> productsList = Cart.GetProducts();
    /* private void SaveCartToLocalStorage(Cart cart)
    {
        string json = JsonConvert.SerializeObject(cart);
        SaveCartToLocalStorage.SetItem("Cart", json);
    }*/
}
