.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

article {
    padding: 0;
    width: 100%;
}

main {
    flex: 1;
    background-color: rgb(243, 238, 238);
}

.sidebar {
    background-color: rgb(29, 150, 93);
}

.top-row {
    background-color: rgb(29, 150, 93);
    border-bottom: 1px solid #0f0f0f;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row ::deep a,
.top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a,
    .top-row .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: relative;
        top: 0;
        z-index: 1;
    }

    .top-row,
    article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

.wrapper {
    position: relative;
}

.cartIcon {
    font-size: 25px;
    color: white;
    background-color: black;
    border-radius: 25% 10%;
    padding: 10px;

}

.cartCount {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    font-weight: 600;
    border-radius: 10px 100px / 120px;
    padding: 3px;
    color: rgb(43, 196, 125);
    background-color: rgb(255, 255, 255);
}


.cartContainer {
    z-index: 99;
    position: absolute;
    width: 100%;
    margin-top: 0;
    opacity: 0.9;
    margin-right: 12px;
    padding: 0;
    right: 0;
}

.cart {
    z-index: 99;
    display: flex;
    background-color: rgb(201, 201, 201);
    flex-direction: column;
    max-height: 60vh;
    overflow-y: scroll;
    border-radius: 10px;
}

.showCart {
    display: flex;
    flex-direction: row;
}

.productImage {
    width: 40px;
    height: 60px;
    margin-top: 10px;
}

.cartHeading {
    font-size: 10px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 15px;
}

.cartPrice {
    font-size: 10px;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 0;
}

.cartCountry {
    font-size: 10px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 0;
}

.payBtn {
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(43, 196, 125);
    color: white;
    border: none;
}